Repository bomlang/FESP01-BABA, pull requests merged in 2023-12, with the labels that each got.

#4 ➕ [Chore] 리액트 라우터 설정
  .gitmessage.txt
  routes.tsx
  src/App.tsx
  src/components/DetailReview.tsx
  src/layout/Header.tsx
  src/layout/RoolLayout.tsx
  src/pages/Detail.tsx
  src/pages/Home.tsx
  src/pages/NotFound.tsx
  src/pages/RootLayout.tsx
Labels: React, Setting

#12 [Design] 로그인, 회원가입, 디테일 페이지 마크업 및 스타일링
  routes.tsx
  src/components/Button.tsx
  src/components/CheckAccount.tsx
  src/components/DetailReview.tsx
  src/components/Input.tsx
  src/components/Logo.tsx
  src/layout/Header.tsx
  src/pages/Detail.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Main.tsx
  src/pages/RootLayout.tsx
  src/pages/SignUp.tsx
Labels: HTML/CSS

#13 [Design] 마이페이지, 검색페이지, 글쓰기페이지의 마크업 및 스타일링 작업
  routes.tsx
  src/App.css
  src/App.tsx
  src/assets/icon/Add.png
  src/assets/icon/Bookmark.png
  src/assets/icon/Comment.png
  src/assets/icon/Home.png
  src/assets/icon/Like.png
  src/assets/icon/Messenger.png
  src/assets/icon/More.png
  src/assets/icon/Reels.png
  src/assets/icon/Search.png
  src/assets/icon/Share.png
  src/assets/icon/Shop.png
  src/assets/icon/User.png
  src/assets/userIcon.png
  src/components/Button.tsx
  src/components/CategoryComponent.tsx
  src/components/FeedComponent.tsx
  src/components/mypage/FavRing.tsx
  src/components/mypage/MypageHeader.tsx
  src/components/search/SearchResultBar.tsx
  src/index.css
  src/layout/Header.tsx
  src/layout/Menu.tsx
  src/layout/Nav.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Main.tsx
  src/pages/MyPage.tsx
  src/pages/RootLayout.tsx
  src/pages/SearchPage.tsx
  src/pages/SignUp.tsx
  src/pages/Writing.tsx
  src/style/GlobalStyle.ts
  src/utils/ottIconImage.ts
Labels: HTML/CSS

#14 🎨[Design] 홈,로그인,회원가입,디테일 페이지 중앙 정렬
  src/App.tsx
  src/components/Button.tsx
  src/components/CheckAccount.tsx
  src/components/DarkModeToggle.tsx
  src/components/Input.tsx
  src/components/Logo.tsx
  src/layout/Fake.tsx
  src/layout/Header.tsx
  src/pages/Detail.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/RootLayout.tsx
  src/pages/SignUp.tsx
  src/store/useThemeStore.ts
  src/style/GlobalStyle.ts
Labels: HTML/CSS

#18 다크모드, 로고, 링크 연결
  src/App.tsx
  src/assets/logo.svg
  src/components/CategoryComponent.tsx
  src/components/CheckAccount.tsx
  src/components/DarkModeToggle.tsx
  src/components/DetailReview.tsx
  src/components/FeedComponent.tsx
  src/components/Logo.tsx
  src/layout/Header.tsx
  src/layout/Nav.tsx
  src/layout/RecommendContentsSection.tsx
  src/pages/Detail.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/RootLayout.tsx
  src/pages/SignUp.tsx
  src/store/useThemeStore.ts
Labels: Feature, HTML/CSS, React

#19 Design/main
  src/api/getPopularData.ts
  src/assets/icon/Lightmode.svg
  src/baba.d.ts
  src/components/DarkModeToggle.tsx
  src/components/FeedComponent.tsx
  src/components/SideBar.tsx
  src/layout/RecommendContentsSection.tsx
  src/style/GlobalStyle.ts
Labels: HTML/CSS, React, API

#20 [Design] 모든 페이지의 반응형 디자인 구현 및 오류해결
  index.html
  package.json
  pnpm-lock.yaml
  routes.tsx
  src/App.tsx
  src/components/Button.tsx
  src/components/CategoryComponent.tsx
  src/components/CheckAccount.tsx
  src/components/DarkModeIcon.tsx
  src/components/DarkModeToggle.tsx
  src/components/DetailReview.tsx
  src/components/Input.tsx
  src/components/mypage/FavRing.tsx
  src/components/mypage/MypageHeader.tsx
  src/components/search/SearchResultBar.tsx
  src/layout/Footer.tsx
  src/layout/Header.tsx
  src/layout/Menu.tsx
  src/layout/Nav.tsx
  src/layout/RecommendContentsSection.tsx
  src/layout/SideBar.tsx
  src/pages/Detail.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/MainPage.tsx
  src/pages/MyPage.tsx
  src/pages/RootLayout.tsx
  src/pages/SearchPage.tsx
  src/pages/SignUp.tsx
  src/pages/Writing.tsx
  src/style/GlobalStyle.ts
Labels: HTML/CSS, Fix

#21 ✨ [Feat] 회원가입기능 & 로그인기능 구현 & 유효성검사
  index.html
  package.json
  pnpm-lock.yaml
  src/components/Button.tsx
  src/components/ErrorMessage.tsx
  src/components/Input.tsx
  src/components/MyComponent.tsx
  src/pages/Login.tsx
  src/pages/RootLayout.tsx
  src/pages/SignUp.tsx
  src/store/useAuthStore.ts
  src/utils/handleInputChange.ts
  src/utils/loginRegs.ts
  src/utils/userData.ts
Labels: Feature

#23 드라마 검색 가능, writing 페이지 검색 기능 추가
  src/api/getMovieImage.ts
  src/api/getSearchMovies.ts
  src/api/reviewApi.ts
  src/baba.d.ts
  src/components/Button.tsx
  src/components/Input.tsx
  src/components/StarRating.tsx
  src/components/search/SearchResultBar.tsx
  src/pages/Login.tsx
  src/pages/SearchPage.tsx
  src/pages/Writing.tsx
  src/store/useThemeStore.ts
  src/style/GlobalStyle.ts
Labels: Feature, HTML/CSS, React, API

#24 [Desing / Feat] 추천, 카테고리 Swiper 반응형 적용 및 데이터 조건별 렌더링 완료
  .gitignore
  package.json
  pnpm-lock.yaml
  src/api/getGenreData.ts
  src/api/getPopularData.ts
  src/baba.d.ts
  src/components/Button.tsx
  src/components/CategoryComponent.tsx
  src/components/SideBar.tsx
  src/components/search/SearchInputBar.tsx
  src/layout/RecommendContentsSection.tsx
  src/layout/SideBar.tsx
  src/pages/MainPage.tsx
  src/pages/RootLayout.tsx
  src/pages/SearchPage.tsx
  src/store/useGenresStore.ts
  src/store/usePopularDataStore.ts
  src/store/useSearchStore.ts
  src/utils/genresData.ts
  tsconfig.json
Labels: Feature, HTML/CSS, React, API

#25 사용자 이미지 업로드
  src/api/getSearchMovies.ts
  src/api/reviewApi.ts
  src/baba.d.ts
  src/components/CategoryComponent.tsx
  src/pages/Writing.tsx
Labels: Feature, React, API

#26 [Feat] SearchPage의 최근검색어 기능 구현
  src/api/getReviewData.ts
  src/api/getSearchMovies.ts
  src/assets/spinner/popcornLoding.gif
  src/components/DetailReview.tsx
  src/components/search/SearchResultBar.tsx
  src/layout/Header.tsx
  src/pages/Detail.tsx
  src/pages/SearchPage.tsx
  src/pages/SignUp.tsx
  src/pages/Writing.tsx
  src/types.ts
  src/utils/userData.ts
Labels: Feature

#27 프로필 이미지 기능
  src/api/profileImgApi.ts
  src/api/reviewApi.ts
  src/components/search/SearchResultBar.tsx
  src/pages/MyPage.tsx
  src/pages/SearchPage.tsx
  src/pages/Writing.tsx
Labels: Feature, React, API

#28 search, writing, mypage 부분 기능 추가
  package.json
  pnpm-lock.yaml
  src/api/profileImgApi.ts
  src/api/reviewApi.ts
  src/components/search/SearchResultBar.tsx
  src/pages/MyPage.tsx
  src/pages/SearchPage.tsx
  src/pages/Writing.tsx
  src/utils/debounce.ts
  src/utils/userInfoInLs.ts
Labels: Feature, React, API

#30 ✨[Feat] 좋아요(북마크)기능 구현
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/api/getLikesData.ts
  src/api/reviewApi.ts
  src/baba.d.ts
  src/components/CategoryComponent.tsx
  src/components/FeedComponent.tsx
  src/layout/RecommendContentsSection.tsx
  src/layout/SideBar.tsx
  src/pages/MainPage.tsx
  src/pages/Writing.tsx
  src/store/useBookmarkStore.ts
Labels: Bug, Feature, React, API

#31 이미지 아이콘 추가
  routes.tsx
  src/api/getReviewData.ts
  src/api/reviewApi.ts
  src/baba.d.ts
  src/components/FeedComponent.tsx
  src/components/StarRating.tsx
  src/pages/EditReview.tsx
  src/pages/MainPage.tsx
  src/pages/MyPage.tsx
  src/pages/SearchPage.tsx
  src/pages/Writing.tsx
  src/utils/userData.ts
  src/utils/userInfoInLs.ts
Labels: Feature, React

#32 리뷰 등록 시 장르, 닉네임 추가
  src/api/getLikesData.ts
  src/api/getReviewData.ts
  src/api/reviewApi.ts
  src/baba.d.ts
  src/components/FeedComponent.tsx
  src/pages/EditReview.tsx
  src/pages/MainPage.tsx
  src/pages/MyPage.tsx
  src/pages/Writing.tsx
  src/utils/convertDate.ts
Labels: Feature, React, API

#34 좋아요 기능 구현
  src/api/getLikesData.ts
  src/api/getSearchMovies.ts
  src/api/profileImgApi.ts
  src/api/reviewApi.ts
  src/baba.d.ts
  src/components/FeedComponent.tsx
  src/pages/EditReview.tsx
  src/pages/MyPage.tsx
  src/pages/Writing.tsx
  src/store/useBookmarkStore.ts
  src/utils/convertDate.ts
  src/utils/userData.ts
Labels: Feature, React, API

#35 ✨[Feat] 카테고리 필터링 기능 구현 및 버튼 모션 적용 진행중
  src/api/getLikesData.ts
  src/api/getReviewData.ts
  src/baba.d.ts
  src/components/CategoryComponent.tsx
  src/components/FeedComponent.tsx
  src/pages/MainPage.tsx
  src/store/useGenresStore.ts
  src/utils/genresData.ts
Labels: Feature, React, API

#36 마이 페이지 좋아요 글 렌더링 작업중
  src/api/getLikesData.ts
  src/api/getSearchMovies.ts
  src/api/profileImgApi.ts
  src/components/FeedComponent.tsx
  src/pages/MyPage.tsx
Labels: Fix, React, API

#37 마이페이지 좋아요 렌더링
  src/api/getLikesData.ts
  src/api/getReviewData.ts
  src/api/profileImgApi.ts
  src/components/FeedComponent.tsx
  src/components/mypage/FavRing.tsx
  src/components/search/SearchResultBar.tsx
  src/pages/Detail.tsx
  src/pages/EditReview.tsx
  src/pages/Login.tsx
  src/pages/MainPage.tsx
  src/pages/MyPage.tsx
  src/pages/Writing.tsx
  src/store/useAuthStore.ts
Labels: Feature, React, API

#43 사이드 바 다크모드 적용
  src/api/getLikesData.ts
  src/components/CategoryComponent.tsx
  src/components/SideBar.tsx
  src/components/StarRating.tsx
  src/components/mypage/AddUserIcon.tsx
  src/components/mypage/FavRing.tsx
  src/layout/Nav.tsx
  src/layout/SideBar.tsx
  src/pages/EditReview.tsx
  src/pages/MovieInfo.tsx
  src/pages/MyPage.tsx
  src/pages/Writing.tsx
Labels: Feature, HTML/CSS

#44 [Feat / Merge] MainPage 작성 일자 렌더링 및 develop Merge
  src/assets/favicon (1).svg
  src/components/FeedComponent.tsx
  src/components/StarRating.tsx
  src/layout/SideBar.tsx
  src/pages/MovieInfo.tsx
  src/pages/MyPage.tsx
  src/pages/Writing.tsx
  src/utils/ottIconData.ts
Labels: Feature, API

#46 [Deploy] 배포 build시 에러사항 수정
  src/components/CategoryComponent.tsx
  src/components/FeedComponent.tsx
  src/layout/SideBar.tsx
  src/pages/MovieInfo.tsx
  src/pages/MyPage.tsx
  src/pages/RootLayout.tsx
  src/pages/Writing.tsx
  src/utils/supabaseClient.ts
  src/utils/userData.ts
Labels: Deploy

#47 프로필 페이지 레이아웃 수정 및 스와이퍼 추가
  src/components/FeedComponent.tsx
  src/pages/MyPage.tsx
  src/pages/Writing.tsx
Labels: Feature, HTML/CSS, React

#48 info 페이지 해당 리뷰만 보이도록 함
  src/api/getReviewData.ts
  src/components/DetailReview.tsx
  src/components/movieInfo/Iframe.tsx
  src/pages/MovieInfo.tsx
Labels: Feature, React

#52 ✨🎨[Feat/Design] Ott렌더링 및 흐르는 텍스트 구현, 피드 사이즈 조절
  src/api/getLikesData.ts
  src/api/reviewApi.ts
  src/assets/flowShape.svg
  src/assets/ottIcon/defaultOtt.svg
  src/baba.d.ts
  src/components/CategoryComponent.tsx
  src/components/FeedComponent.tsx
  src/components/FlowText.tsx
  src/layout/Nav.tsx
  src/layout/SideBar.tsx
  src/pages/MainPage.tsx
  src/pages/RootLayout.tsx
  src/pages/Writing.tsx
  src/utils/ottIconData.ts
Labels: Feature, HTML/CSS, Fix, React, API

#53 [Fix] 버튼 이미지 사라짐. 이슈 수정
  src/components/CategoryComponent.tsx
  src/components/FeedComponent.tsx
  src/pages/RootLayout.tsx
Labels: Bug, Fix

#54 🐛[Fix] 배포에서 writing 페이지 별 안보이는 것 수정
  src/components/StarRating.tsx
Labels: Fix
